.body{
    background-color: #e4e4e4;
}

li{
    list-style: none;   
}

nav{
    background-color: aqua;
}

.menu{
  font-size:20px;
}


.menu:hover{
  color:white;
  cursor: pointer;
}

.banner_container{
    /* display: none; */
    width: 1200px;
    height: 500px;
    margin: auto;
    /* background:linear-gradient(cyan,rgba(33,137,137)) */
    margin-top: 20px;
}

.banner{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    background:linear-gradient(cyan,rgba(33,137,137));
    box-shadow: 4px,4px,8px,gray;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bn_img{
    width:100%;
    margin-top:-20px;
}

.services_container{
    width: 1200px;
    margin: auto;
}

.title{
    font-size: 44px;
    color: aqua;
    text-align: center;
}


.doctors_container{
    margin-top: 50px;
    padding: 30px;
}

.doc_card{
    width: 300px;
    height: 360px;
    box-shadow: 4px 4px 8px gray;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
}
.doc_img{
    width: 100px;
    height:100px;
    border-radius: 50px;
}

.search{
    width:75%;
    padding: 10px;
    border: none;
    border-radius: 25px;
}

#no_data{
    display: none;
}

#spinner{
    display: none;
}

.review_card{
    height: 300px;
    width:250px;
    box-shadow: 4px 4px 8px gray;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.review_card img {
    height: 70px;
    width: 70px;
    border-radius: 50px;
}

footer{
    padding: 50px;
    background: linear-gradient(66deg, #1CA8C7 -5.25%, #439FA5 46.76%, #4C7D8C 98.77%);;
}


.doctor-image img{
   width: 150px;
   height: 150px;
   border-radius: 100px;
}

.doc-details-container{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    gap: 50px;
    width: 75%;
    margin: auto;
}

.doc-detail-btn{
    border: none;
    padding:5px 10px;
    background-color:gray;
    color: white;
    border-radius: 5px;
}

.userDetails_container{
    height: 100vh;
    width: 75%;
    margin: auto;
}

.user-img img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.user_all{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.allAppointment_container{
    height: 100vh;
    width: 90%;
    margin: auto;
    padding-top: 20px;
}

.doctor{
    width: 350px;
    height: 400px;
    box-shadow: 4px 4px 4px 8px gray;
    text-align: center;
    background-color: gray;
    color: white;
    border-radius: 10px;
}

.symptom{
    width: 50%;
    padding: 20px;
    margin: 20px;

}